node_modules/
.env
.tmp/
data/envData/envUrls.json

# Test reports and results
reports/
test-results/
allure-results/
allure-report/

# Other generated or local files
envUrls.json
.DS_Store
**/.DS_Store